DJANGO_SECRET_KEY=django-insecure-gxf7l68#61-y^x*nr&g^tz2z4^=*sg#ebz(xeys$oj$rqp$um#
DEBUG=
ALLOWED_HOSTS=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
